# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.fwewscript'
'name': 'Fwewscript'
'fileTypes': ['fw', 'fwewscript']
'firstLineMatch': '^\\#!.*(?:\\s|\\/)fwew(?:$|\\s)'
'patterns': [
  {
    'comment': 'comments'
    'begin': '#'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.fwewscript'
    'end': '\\n'
    'name': 'comment.line.number-sign.fwewscript'
  }
  {
    'comment': 'numbers'
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.fwewscript'
  }
  {
    'comment': 'functions'
    'match': '^/(list|random|update|commands|help|exit)'
    'name': 'support.function.builtin.fwewscript'
  }
  {
    'comment': 'what'
    'match': '\\b(pos|word|words|syllables)\\b'
    'name': 'variable.other.object.fwewscript'
  }
  {
    'comment': 'cond'
    'match': '\\b(has|is|starts|ends|first|last|like)\\b'
    'name': 'support.function.builtin.fwewscript'
  }
  {
    'comment': 'operator'
    'match': '\\b(and|where)\\b'
    'name': 'keyword.operator.logical.fwewscript'
  }
  {
    'comment': '/set and /unset'
    'match': '^(/set|/unset)\\s+(.+)$'
    'captures':
      '1':
        'name': 'support.function.builtin.fwewscript'
      '2':
        'name': 'constant.language.fwewscript'
  }
]
